<!DOCTYPE html><!-- document HTML5 -->
<html>
    <head>
        <link href="{{ asset('bundles/lapoizwind/css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/lapoizgraph/css/test1.css') }}" rel="stylesheet" media="screen">

        <script src="{{ asset('bundles/lapoizwind/js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('bundles/lapoizwind/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/moment.min.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/spline.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/Graph.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/WindGraph.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/LegendGraph.js') }}"></script>
        <script src="{{ asset('bundles/lapoizgraph/js/test1.js') }}"></script>
    </head>
    <body>
        <h1>Test 1.1</h1>

        <div class="row">
            <div id="graph" class="col-sm-12">
                <svg id="graphSVG" height="200" width="600">
                </svg>
                <div id="tooltip">Tooltip</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <svg id="legendSVG" height="200" width="200"></svg>

            </div>
         </div>

        <script>

            $( document ).ready(function() {
                initGraph();
                getJson();
            });

            function getJson() {
                // http://localhost/Wind/web/app_dev.php/fo/json/lapoizgraph/spot/1
                //$.getJSON( "{{ asset('bundles/lapoizgraph/json/test1.json') }}", function( json ) {

                $.getJSON( "{{ path('_fo_json_lapoizGraph_spot_data',{ 'id':1 }) }}", function( json ) {
                    putOnGraph(json);
                });
            }

        </script>

    </body>
</html>
