<h2>Etape n°5: Résumé</h2>

<h3>Vous</h3>
    {{ contact.username }}<br />
    {{ contact.mail }}

<h3>Le spot</h3>
    {% from "LaPoizWindBundle:FrontOffice/spot:details.html.twig" import detail %}
    {{ detail(spot) }}

<h3>Les sites de prevision météo</h3>
    {% if spot.dataWindPrev is not null %}
        <ul>
        {% for dataWindPrevSpot in spot.dataWindPrev %}
            <li>{{ dataWindPrevSpot.website.nom }}</li>
        {% endfor %}
        </ul>
    {% endif %}

<h3>Les marées</h3>
    {% if spot.mareeURL is defined %}
        {% if spot.mareeURL is  null %}
            Pas de problème de marée pour ce spot.
        {% else %}

            URL: {{ spot.mareeURL }}

            {% from "LaPoizWindBundle:BothOffice/Spot/Ajax/Maree:graph.html.twig" import graphMaree %}
            {{ graphMaree(spot) }}


        {% endif %}
    {% endif %}



    {{ form_start(form, {
        'style': 'horizontal',
        'label_col': 2,
        'widget_col': 8,
        'methode' : 'POST',
        'action' : path('_fo_ajax_spot_ask_create_step5', {'id': spot.id, 'idContact': contact.id})
    })}}

            {{ form_errors(form, { 'global_errors': true }) }}

            {{ form_end(form) }}


<script>

    $("#contact_form").on('submit', function(e){
        e.preventDefault();
        var $this = $(this);

        var htmlBackup =  $('#contentAskNewSpot').html();
        $('#contentAskNewSpot').html('<img src="{{ asset('bundles/lapoizwind/images/loading.gif') }}" alt="Loading Ajax data" />');

        $.ajax({
            url: $this.attr('action'),
            type: $this.attr('method'),
            data: $this.serialize(),
            success : function(code_html, statut){
                window.location.href="{{ path('_index') }}";
            },
            error : function(resultat, statut, erreur){
                alert("Problème de connexion !");
                $('#contentAskNewSpot').html(htmlBackup);
            }
        });
        return false;
    });

    displayStep(5);
</script>
