{% extends 'LaPoizWindBundle:FrontOffice:base.html.twig' %}

{% block bodyPage %}

    <div class="starter-template">
        <h1>Le site LaPoiz.com</h1>
        <p class="lead">
            Ce site est fait pour les Kitteurs.<br>
            Le but est de regrouper tous les paramètres pour planifier sa session: force du vent, orientation, marée ...<br>
            <br>
            S'il peut être utile pour d'autre activité utilisant le vent: nickel !
            <br><br>
            Vous trouverez dans la rubrique <a href="{{ path('_fo_concept') }}">Le concept du site</a> une explication sur le coeur du site.
            <br>
            Et dans "Les spots" la liste des spots actuellement enregistrés.

        </p>


        <h1>Les sites</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Spot</th>

                    {% for i in 0..6 %}
                        <th>{{ date('+' ~ i ~ 'days')|date('D j M') }}</th>
                    {% endfor %}

                </tr>
            </thead>

        {% for spot in listSpot %}
            <tr>
                <th scope="row">
                    <a href="{{ path('_fo_spot_graph',{'id':spot.id}) }}">
                        {{ spot.nom }}</a>
                </th>
                {% set listNotesDate = tabNotesAllSpots[spot.nom] %}
                {% if listNotesDate is not null %}
                    {% for notesDate in listNotesDate %}
                        <td>
                            <table class="table">
                                {% if notesDate.noteWind is defined and notesDate.noteWind is not null %}
                                    {% set classNote = 'success' %}
                                    {% if notesDate.noteWind<0.4 %}
                                        {% set classNote = 'danger' %}
                                    {% elseif notesDate.noteWind<0.6 %}
                                        {% set classNote = 'warning' %}
                                    {% endif %}
                                    <tr class="{{ classNote }}"><td>vent</td></tr>
                                {% else %}
                                    <tr><td>vent:?</td></tr>
                                {% endif %}

                                {% if notesDate.noteTemp is defined and notesDate.noteTemp is not null %}
                                    {% set classNote = 'success' %}
                                    {% if notesDate.noteTemp<0.4 %}
                                        {% set classNote = 'danger' %}
                                    {% elseif notesDate.noteTemp<0.6 %}
                                        {% set classNote = 'warning' %}
                                    {% endif %}
                                    <tr class="{{ classNote }}"><td>T°C</td></tr>
                                {% else %}
                                    <tr><td>T°C:?</td></tr>
                                {% endif %}

                                {% if notesDate.noteMeteo is defined and notesDate.noteMeteo is not null %}
                                    {% set classNote = 'success' %}
                                    {% if notesDate.noteMeteo<0.4 %}
                                        {% set classNote = 'danger' %}
                                    {% elseif notesDate.noteMeteo<0.8 %}
                                        {% set classNote = 'warning' %}
                                    {% endif %}
                                    <tr class="{{ classNote }}"><td>Météo</td></tr>
                                {% else %}
                                    <tr><td>Météo:?</td></tr>
                                {% endif %}


                                {% if notesDate.noteMaree is defined and notesDate.noteMaree is not null %}
                                    {% set classNote = 'success' %}
                                    {% if notesDate.noteMaree<0.4 %}
                                        {% set classNote = 'danger' %}
                                    {% elseif notesDate.noteMaree<0.6 %}
                                        {% set classNote = 'warning' %}
                                    {% endif %}
                                    <tr class="{{ classNote }}"><td>Marée</td></tr>
                                {% else %}
                                    <tr><td>Marée:?</td></tr>
                                {% endif %}

                            </table>
                        </td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}

        </table>


    </div>

{% endblock %}