{% extends 'LaPoizWindBundle:FrontOffice:base.html.twig' %}

{% block bodyPage %}

    <div class="starter-template">
        <h1>Le site LaPoiz.com</h1>
        <p class="lead">
            Ce site est fait pour les Kitteurs.<br>
            Le but est de regrouper tous les paramètres pour planifier sa session: force du vent, orientation, marée ...<br>
            <br>
            S'il peut être utile pour d'autre activité utilisant le vent: nickel !
            <br><br>
            Vous trouverez dans la rubrique <a href="{{ path('_fo_concept') }}">Le concept du site</a> une explication sur le coeur du site.
            <br>
            Et dans "Les spots" la liste des spots actuellement enregistrés.

        </p>

        <h1>Les spots</h1>

        Nombre d'heure de navigation sur 12h théorique (8h -> 20h).
        <table class="table table-hover table-note table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Spot</th>

                    {% for i in 0..6 %}
                        <th class="text-center">{{ date('+' ~ i ~ 'days')|date('D j M') }}</th>
                    {% endfor %}

                </tr>
            </thead>

        {% for spot in listSpot %}
            <tr>
                <th scope="row" class="titleLineTableNote">
                    <a href="{{ path('_fo_spot_graph',{'id':spot.id}) }}">
                        {{ spot.nom }}</a>
                </th>
                {% set listNotesDate = tabNotesAllSpots[spot.nom] %}
                {% if listNotesDate is not null %}

                    {% set classTop = 'elemGreen' %}
                    {% set classBof = 'elemOrange' %}
                    {% set classNule = 'elemRed' %}

                    {% for notesDate in listNotesDate %}
                        <td>
                        <!-- Wind -->
                            <table class="tableWithoutBorder">
                                {% for nbHoureNavElem in notesDate.nbHoureNav %}

                                        {% set classNbH = classTop %}
                                        {% if nbHoureNavElem.nbHoure<3 %}
                                            {% set classNbH = classNule %}
                                        {% elseif nbHoureNavElem.nbHoure<8 %}
                                            {% set classNbH = classBof %}
                                        {% endif %}

                                    <tr>

                                        <td class="{{ classNbH }}"><img src="{{ asset('bundles/lapoizwind/images/logos/'~nbHoureNavElem.website.logo|e) }}"
                                            alt="{{ nbHoureNavElem.website.nom }}" class="logoWebsite">
                                            {{ (nbHoureNavElem.nbHoure)|number_format(0, ',', '.') }} h</td>
                                    </tr>
                                {% endfor %}

                                {% if notesDate.nbHoureNav|length < 3 %}
                                    <tr><td><div class="logoWebsite"></div></td></tr>
                                {% endif %}

                                {% if notesDate.tempMin<35 %}

                                <!--<tr><td style="border-top: 1px solid grey"></td></tr>-->

                                    {% set classTemp = classTop %}
                                    {% if notesDate.tempMin<8 %}
                                        {% set classTemp = classNule %}
                                    {% elseif notesDate.tempMin<15 %}
                                        {% set classTemp = classBof %}
                                    {% endif %}

                                <tr>
                                    <td class="{{ classTemp }}">
                                        <i class="icon-temperature" />
                                        {{ notesDate.tempMin|number_format(0, ',', '.') }}°C -> {{ notesDate.tempMax|number_format(0, ',', '.') }}°C
                                    </td>
                                </tr>

                                <tr>
                                    <td><img src="{{ asset('bundles/lapoizwind/images/transparent.png') }}"
                                        class="meteo-icon"
                                        style="background:url({{ asset('bundles/lapoizwind/images/meteo-icons-small.png') }});
                                                background-position: 0% {{ notesDate.meteoBest|meteoFrance_logo }}%;"
                                        />
                                        ->
                                        <img src="{{ asset('bundles/lapoizwind/images/transparent.png') }}"
                                             class="meteo-icon"
                                             style="background:url({{ asset('bundles/lapoizwind/images/meteo-icons-small.png') }});
                                                     background-position: 0% {{ notesDate.meteoWorst|meteoFrance_logo }}%;"
                                        />
                                    </td>
                                </tr>
                                {% endif %}
                            </table>


                        </td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}

        </table>
    </div>

{% endblock %}