{% extends 'LaPoizWindBundle:FrontOffice:base.html.twig' %}

{% block bodyPage %}

    <div class="starter-template">
        <h1>Le site LaPoiz.com</h1>
        <p class="lead">
            Ce site est fait pour les Kitteurs.<br>
            Le but est de regrouper tous les paramètres pour planifier sa session: force du vent, orientation, marée ...<br>
            <br>
            S'il peut être utile pour d'autre activité utilisant le vent: nickel !
            <br><br>
            Vous trouverez dans la rubrique <a href="{{ path('_fo_concept') }}">Le concept du site</a> une explication sur le coeur du site.
            <br>
            Et dans "Les spots" la liste des spots actuellement enregistrés.

        </p>


        <h1>Les sites</h1>

        <table class="table table-hover table-note table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Spot</th>

                    {% for i in 0..6 %}
                        <th class="text-center">{{ date('+' ~ i ~ 'days')|date('D j M') }}</th>
                    {% endfor %}

                </tr>
            </thead>

        {% for spot in listSpot %}
            <tr>
                <th scope="row" class="titleLineTableNote">
                    <a href="{{ path('_fo_spot_graph',{'id':spot.id}) }}">
                        {{ spot.nom }}</a>
                </th>
                {% set listNotesDate = tabNotesAllSpots[spot.nom] %}
                {% if listNotesDate is not null %}

                    {% set classTop = 'elemGreen' %}
                    {% set classBof = 'elemOrange' %}
                    {% set classNule = 'elemRed' %}

                    {% for notesDate in listNotesDate %}
                        <td>
                        <!-- Wind -->
                        {% if notesDate.noteWind is defined and notesDate.noteWind is not null %}
                            {% set classNote = classTop %}
                            {% if notesDate.noteWind<0.4 %}
                                {% set classNote = classNule %}
                            {% elseif notesDate.noteWind<0.6 %}
                                {% set classNote = classBof %}
                            {% endif %}
                            <span class="{{ classNote }}"><i class="icon-wind"></i></span>
                        {% else %}
                            <span><i class="icon-wind"></i></span>
                        {% endif %}

                        <!-- Temperature -->
                                {% if notesDate.noteTemp is defined and notesDate.noteTemp is not null %}
                                    {% set classNote = classTop %}
                                    {% if notesDate.noteTemp<0.4 %}
                                        {% set classNote = classNule %}
                                    {% elseif notesDate.noteTemp<0.6 %}
                                        {% set classNote = classBof %}
                                    {% endif %}
                                    <span class="{{ classNote }}"><i class="icon-temperature"></i></span>
                                {% else %}
                                    <span><i class="icon-temperature"></i></span>
                                {% endif %}

                        <!-- Meteo -->
                                {% if notesDate.noteMeteo is defined and notesDate.noteMeteo is not null %}
                                    {% set classNote = classTop %}
                                    {% if notesDate.noteMeteo<0.4 %}
                                        {% set classNote = classNule %}
                                    {% elseif notesDate.noteMeteo<0.8 %}
                                        {% set classNote = classBof %}
                                    {% endif %}
                                    <span class="{{ classNote }}"><i class="icon-cloud-sun-inv"></i></span>
                                {% else %}
                                    <span><i class="icon-cloud-sun-inv"></i></span>
                                {% endif %}

                        <!-- Maree -->
                        {% if spot.mareeURL is defined and  spot.mareeURL is not null %}
                                {% if notesDate.noteMaree is defined and notesDate.noteMaree is not null %}
                                    {% set classNote = classTop %}
                                    {% if notesDate.noteMaree<0.4 %}
                                        {% set classNote = classNule %}
                                    {% elseif notesDate.noteMaree<0.6 %}
                                        {% set classNote = classBof %}
                                    {% endif %}
                                    <span class="{{ classNote }}"><i class="icon-waves"></i></span>
                                {% else %}
                                    <span><i class="icon-waves"></i></span>
                                {% endif %}
                        {% endif %}

                        </td>
                    {% endfor %}
                {% endif %}
            </tr>
        {% endfor %}

        </table>
        <br>
        <br>
        <div class="row">
            <div class="col-md-7">
                <p class="bg-info">
                <table class="table table-condensed">
                    <caption>Légende</caption>
                    <tr>
                        <td>Puissance et orientation du vent</td>
                        <td class="elemRed"><i class="icon-wind"></i>: <12 Nd</td>
                        <td class="elemOrange"><i class="icon-wind"></i>: ~12 Nd</td>
                        <td class="elemGreen"><i class="icon-wind"></i>: >12 Nd</td>
                        <td><i class="icon-wind"></i>: ?</td>
                    </tr>
                    <tr>
                        <td>Température</td>
                        <td class="elemRed"><i class="icon-temperature"></i>: <10°C</td>
                        <td class="elemOrange"><i class="icon-temperature"></i>: 10°C<Temp<15°C</td>
                        <td class="elemGreen"><i class="icon-temperature"></i>: >15°C</td>
                        <td><i class="icon-temperature"></i>: ?</td>
                    </tr>
                    <tr>
                        <td>Météo</td>
                        <td class="elemRed"><i class="icon-cloud-sun-inv"></i>: Orage</td>
                        <td class="elemOrange"><i class="icon-cloud-sun-inv"></i>: Nuageux</td>
                        <td class="elemGreen"><i class="icon-cloud-sun-inv"></i>: Soleil</td>
                        <td><i class="icon-cloud-sun-inv"></i>: ?</td>
                    </tr>
                    <tr>
                        <td>Marée</td>
                        <td class="elemRed"><i class="icon-waves"></i>: Impraticable</td>
                        <td class="elemOrange"><i class="icon-waves"></i>: Parfois OK</td>
                        <td class="elemGreen"><i class="icon-waves"></i>: Naviguable</td>
                        <td><i class="icon-waves"></i>: ?</td>
                    </tr>
                </table>
                </p>
            </div>
        </div>

    </div>

{% endblock %}