{% extends 'LaPoizWindBundle:FrontOffice:base.html.twig' %}


{% block bodyPage %}

<h1>Prévisions météo et détails du spot: {{ spot.nom }}</h1>

<div class="row">
    <div class="col-sm-12">
        {% from "LaPoizWindBundle:FrontOffice/spot:graph.html.twig" import graph %}
        {{ graph(spot) }}
    </div>
</div>

<div class="row">

    <div class="col-sm-6 center-block text-center">
        <h3 class="titreSVG">Rosace du vent à {{ spot.nom }}</h3>
        {% from "LaPoizWindBundle:BackOffice/Spot/Ajax:rosaceWind.html.twig" import displayRosace %}
        {{ displayRosace() }}



        <script>

            // **************************************
            // ** Gestion de l'orientation du vent **
            // **************************************
            var tabOrientationState = new Array(); // Array with orientation => state, used for rosace wind

            getOrientationDataFromSpot();

            // Récupére les données de l'objet spot et les pousse dans la rosace

            function getOrientationDataFromSpot() {
                // Parcour la liste des WindOrientation
                {% for windOrientation in spot.windOrientation %}
                tabOrientationState["{{ windOrientation.orientation }}"]="{{ windOrientation.state?windOrientation.state:"?" }}";
                {% endfor %}

                svgLoad(tabOrientationState, true);
            }


            //$('#rosaceWindSVG').setAttributeNS(null, "width", "500");
            //var rosace = document.getElementById("rosaceWindSVG");
            //rosace.setAttributeNS(null, "width", "50");
            //$('#rosaceWindSVG').attr("viewBox", "500 500 1000 1000");
            //window.svgDocument.scale(0.5);

        </script>

    </div>


    <div class="col-sm-6 centered">
        {% if spot.mareeURL|default is not empty %}

            {% from "LaPoizWindBundle:BothOffice/Spot/Ajax/Maree:graph.html.twig" import graphMaree %}
            {{ graphMaree(spot, "400px","300px" ) }}

            <script>

                // **************************************
                // ** Charge les restrictions de marée **
                // **************************************

                jQuery(document).ready(function() {
                    // Parcour la liste des MareeRestriction
                    {% for mareeRestriction in spot.mareeRestriction %}
                        drawPlotBandGraphMaree({{ mareeRestriction.hauteurMin }},{{ mareeRestriction.hauteurMax }},"{{ mareeRestriction.state }}");
                    {% endfor %}
                });

                function drawPlotBandMareeGraphSpot() {
                    {% for mareeRestriction in spot.mareeRestriction %}
                        drawOnePlotBandMareeGraphSpot({{ mareeRestriction.hauteurMin }},{{ mareeRestriction.hauteurMax }},"{{ mareeRestriction.state }}");
                    {% endfor %}
                }

                // dessine sur le graph princiapl du spot, une restriction de marée
                function drawOnePlotBandMareeGraphSpot(hMin, hMax, state) {
                    $('#meteoGraph').highcharts().yAxis[1].addPlotBand({
                                color: getColorPlotBandForState(state),
                                from: hMin,
                                to: hMax
                            }
                    )
                }


            </script>

        {% endif %}
    </div>

</div>




    <div class="row">

        <div class="col-sm-6">
            <h3>Détail du spot de {{ spot.nom }}</h3>

            {% from "LaPoizWindBundle:FrontOffice/spot:details.html.twig" import detail %}
            {{ detail(spot) }}
        </div>

        <div class="col-sm-6">
            <h3>Explications sur les graphiques</h3>

            {% from "LaPoizWindBundle:FrontOffice/spot:explications.html.twig" import info %}
            {{ info(spot) }}
        </div>
    </div>

{% endblock %}


